<div class="main-bar-chart-box-size">

    <span class="draw">Draw</span>

    <span class="return">Return</span>

    <!-- <span class="saline-return">Sline Return</span> -->

    <div class="bar-chart" >

        <div class="comm-height sub-bar-chart-1" [ngClass]="returnClasses(1)"></div>

        <div class="comm-height sub-bar-chart-2" [ngClass]="returnClasses(2)"></div>

        <div class="comm-height sub-bar-chart-3" [ngClass]="returnClasses(3)"></div>

        <div class="comm-height sub-bar-chart-4" [ngClass]="returnClasses(4)"></div>

        <div class="comm-height sub-bar-chart-5" [ngClass]="returnClasses(5)"></div>

        <div class="comm-height sub-bar-chart-6" [ngClass]="returnClasses(6)"></div>

        <div class="comm-height sub-bar-chart-7" [ngClass]="returnClasses(7)"></div>

        <div class="comm-height sub-bar-chart-8" [ngClass]="returnClasses(8)"></div>

        <div class="comm-height sub-bar-chart-9" [ngClass]="returnClasses(9)"></div>

        <div class="comm-height sub-bar-chart-10"[ngClass]="returnClasses(10)"></div>

        <div class="comm-height sub-bar-chart-11"[ngClass]="returnClasses(11)"></div>

    </div>

</div>